@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .2s linear;
}

// variables colores
$negro:rgb(0, 0, 0);
$rosa-claro:rgba(0, 0, 0, 0.334);
$blanco:#ffffff;
$gris:#414141;


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
  
    &::-webkit-scrollbar{ // grosor"
      width: 1rem;
    }
  
    &::-webkit-scrollbar-track{ // color de fondo del scroll
      background: white;
    }
  
    &::-webkit-scrollbar-thumb{ // color barra scroll
      background: $negro;
    }
  }

  .pulse{
    width: 5rem;
    height: 5rem;
    background: #51c254;
    border-radius: 50%;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    position: fixed;
    bottom: 1rem;
    right: 1.3rem;
    z-index: 100;
    cursor: pointer;
  
    i{
      color: white;
    }
  }
  
  .pulse:after ,
  .pulse:before{
    content: "";
    position: absolute;
    left: -1rem;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    border: 1px solid green;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }
  
  .pulse::after{
    animation-delay:.4s;
  }
  
  @keyframes pulse{
    0%{
      transform: scale(.5);
      opacity: 0;
    }
  
    50%{
      transform: scale(1);
      opacity: 1;
    }
  
    100%{
      transform: scale(1.4);
      opacity: 0;
    }
  }
    
  
  

body{
    font-family: 'Roboto', sans-serif;
}

//header superior
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // background: rgb(21, 21, 21);
    z-index: 4000;

    .header-top{
        align-items: center;
        background:$negro;

        p{
            color: $blanco;
            font-size: 1.5rem;
            padding: .8rem 0;
            text-align: center;
            font-weight: 500;
        }
    }

    .header-center{
        background: $rosa-claro;

        .header-center-items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:.7rem 6%;
            z-index: 100;

            h1{
                color: $blanco;
                font-size: 3rem;
                font-family: 'Pacifico', cursive;
                font-weight: 400;
            }

            .logos-redes-sociales{
              display: none;
              cursor: pointer;
            }

            .navbar{
                
                a{
                    display: inline-block;
                    color: $blanco;
                    font-size: 1.9rem;
                    font-weight: 500;
                    margin-left:2rem ;
                    height: 100%;

                    &:hover{
                       transform: scale(1.1);
                    }
                }
            }
        }
    }
}


#menu-btn{
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

// boton
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, $negro 93%, transparent 90%);
    color: $blanco;
    cursor: pointer;
    font-size: 1.7rem;
  
    &:hover{
      transform: scale(1.1);
    }
  }

//slider
.home{
    padding: 0;
    
    .slide{
        min-height: 100vh;
        background-size: cover !important; //se centra "casi" imagen
        background-position: 0 75% !important; // busca el centro de la imagen "abdomen"
        padding: 0 6%;  // se mueve texto
        display: flex;       // centra el texto en pantalla "abdomen" 
        align-items: center; // centra el texto en pantalla "abdomen"

        .content{
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0 auto;

            span{
                font-size: 4rem;
                color: $blanco;
                display: block;
                font-family: 'Pacifico', cursive;
                font-weight: 300;
            }

            p{
                font-size: 2rem;
                color: $blanco;
                padding: 1rem 0;
                margin-bottom: 2rem;
            }

            img{
              height: 25rem;
              width: 27rem;
            }

            a{
              color: white;
              font-size: 2rem;
              background: rgba(0, 0, 0, 0.553);
              padding: 1.5rem 2.5rem;
              border-radius: 2rem 0 2rem 0;

              &:hover{
                background: $negro;
                transform: scale3d(2deg);
              }
            }
        }
    }
}  

.swiper-pagination-bullet{
    height: 2rem;
    width: 2rem;
    background: $negro;
    border-radius: 50%;
  
    &.swiper-pagination-bullet-active{
      background: $blanco;
    }
}

// sobre nosotros
.sobre-nosotros{
  padding: 0 6%;
  margin-top: 5rem;

  .sobre-nosotros-titulos{
    text-align: center;
    margin-bottom: 3rem;

    h3{
      font-size: 4.5rem;
      font-family: 'Pacifico', cursive;
      color: $gris;
    }

    p{
      font-size: 2.4rem;
      color: $gris;
      margin-bottom: 2rem;
    }

    hr{
      text-align: center;
      border: 1px solid rgb(255, 166, 0);
      width: 15%;
      margin: 0 auto;
    }
  }

  .contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-between;

    p{
      margin-left: 3rem;
      font-size: 2rem;
      line-height: 3.5rem;
      letter-spacing: .2rem;
      color: $gris;
    }

    .firma{
      margin-top: 1rem;
      font-family: 'Pacifico', cursive;
    }
  }
}

.sobre-nosotros .container__grid{
  display: grid;
  height: 40rem;
  grid-template-areas: 
  "img1 img1"
  "img1 img1"
  "img2 img3";
  gap: 1rem;
  width: 90%;
  object-fit: cover;
  

  .container-item{
    position: relative;
    width: 100%;         /*tamaño de las imagenes*/
    height: 25rem;
    overflow: hidden;

    .projects__img{
      width: 100%;
      height: 100%;              /* igual tamaño de las imagenes */
      object-fit:cover;
      border-radius: 3px;
      cursor: pointer;
      overflow: hidden;
   }

   .modificar{
    height: 20rem;
    width: 35rem;
   }
  }
}

//ligtbox
.imagen-light{
  position:fixed;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;  /* centrar imagen*/
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform .2s ease-in-out;
  z-index: 10000;
}

.show{
  transform: translate(0);
}

 .agregar-imagen{
  object-fit: cover;
  border-radius: 1rem; /*imagen*/
  transform: scale(0);
  transition: transform .3s .2s;
  height: 55rem;
  width: 100rem;
}
.showImage{
  transform: scale(.8); /* lo que va a ampliar tamaño*/
}

//ligtbox final


// ligtbox galeria
.imagen-light2{
  position:fixed;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;  /* centrar imagen*/
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform .2s ease-in-out;
  z-index: 10000;
}

.show2{
  transform: translate(0);
}

.agregar-imagen2{
  object-fit: cover;
  border-radius: 1rem; /*imagen*/
  transform: scale(0);
  transition: transform .3s .2s;
  height: 70rem;
  width: 100rem;
}
.showImage2{
  transform: scale(.8); /* lo que va a ampliar tamaño*/
}
// ligtbox galeria final


.container-item:nth-of-type(1){
  grid-area: img1;                   /*ubicar la imagen 1 mas grande a la izquierda */
}

.container-item:nth-of-type(2){
grid-area: img2;
}

.container-item:nth-of-type(3){
grid-area: img3;
}

// imagen de fondo
.ima-grande{
  margin: 10rem 0 0 0;
  width: 100%;
	height: 40rem;
	background: url(../img/fondo.png);
	background-attachment: fixed; /*imagen fija*/
	background-position: 10%;
	background-size: cover; /*toda la imagen*/
	position: relative;
	overflow: hidden;
	color: #fff;
	text-align: center;

  .textos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    h3{
      font-size: 5rem;
      font-family: 'Pacifico', cursive;
      color: $blanco;
    }

    p{
      font-size: 2.5rem;
      line-height: 3.5rem;
      letter-spacing: .2rem;
      color: $blanco;
    }
  }
}

// galeria
.galeria{
  padding: 0 6%;
  margin-top: 5rem;

  .textos-galeria{
    text-align: center;
    margin-bottom: 3rem;

    h3{
      font-size: 4.5rem;
      font-family: 'Pacifico', cursive;
      color: $gris;
    }

    p{
      font-size: 2.4rem;
      color: $gris;
      margin-bottom: 2rem;
    }

    hr{
      text-align: center;
      border: 1px solid rgb(255, 166, 0);
      width: 15%;
      margin: 0 auto;
    }
  }
}

//galeria imágenes
.galeria .contenedor-galeria{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .galeria-items{
    text-align: center;
    // margin: 0 auto;

    img{
      flex-wrap: wrap;
      height: 33rem;
      width: 35rem;
      margin-bottom: 4rem;
      object-fit: cover;
      cursor: pointer;
      border-radius: 3px;
    }
  }
}

//menu
.menu{
  padding: 0 6%;
}


// media queries
@media (max-width:1200px){
  .ima-grande{
    margin-top: 4rem;
  }
}

@media (max-width:991px){

    html{
        font-size: 55%;
        scroll-padding: 7rem;
    }

    .sobre-nosotros .sobre-nosotros-texto p{
      font-size: 1.8rem;
      line-height: 3rem;
      letter-spacing: .1rem;
    }
}

@media (max-width:950px){
  .sobre-nosotros .contenedor-sobre-nosotros{
    flex-direction: column;
  }

  .sobre-nosotros .contenedor-sobre-nosotros p{
    margin: 3rem 0 0 0;
    text-align: center;
  }

  .sobre-nosotros .container__grid{
    width: 100%;
    margin-bottom: 5rem;
  }

  .sobre-nosotros .container__grid .container-item .modificar{
    width: 100%;
  }
}

@media (max-width:900px){
    .header .header-center .header-center-items{
        display: flex;
        flex-direction: column;

        h1{
            margin-bottom: 1rem;
        }

        .navbar{
            margin-bottom: 1rem;
        }
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
        color: white;
        /*rotar la X */
        &.fa-times{
          transform: rotate(180deg);
        }
      }
      

      .header{

        .header-center{
          padding: 1.2rem 0;
    
          .header-center-items{
            flex-direction: row;
            padding: 0rem 6%;

            h1{
              font-size: 2.5rem;
            }

            .logos-redes-sociales{
              display: inline-block;
              
              .bx{
                color: white;
                font-size: 3rem;
                
              }
            }

            h1{
                margin: 0;
            }
    
            .navbar{
              position: absolute;
              top:100%; left:0; right:0;
              background: black;
              /* desaparece menu responsivo */
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
              /* aparece menu responsivo */
              &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }
    
              .before::before{
                display: none;
              }
        
              a{
                display: block;
                font-size: 2rem;
                color: white;
                padding: 2.5rem 6%;
    
                &:hover{
                  color: $negro
                }
              }
            }
          }
        }
      }
}

@media (max-width:700px){
  .agregar-imagen{
    height: 40rem;
    width: 70rem;
  }

  .agregar-imagen2{
    height: 45rem;
    width: 70rem;
  }

  .galeria .contenedor-galeria .galeria-items{
    margin: 0 auto;

    img{
      width: 40rem;
    }
  }
}

@media (max-width:610px){
  .ima-grande{
    height: 35rem;
  }

  .ima-grande .textos{
    width: 100%;
  }
}

@media (max-width:500px){
  .agregar-imagen{
    height: 40rem;
    width: 50rem;
  }

  .agregar-imagen2{
    height: 50rem;
    width: 53rem;
  }
}

@media (max-width:450px){

    html{
      font-size: 50%;

      .section{

        .container-iconos{

          .iconos-item{
              margin-bottom: 1.5rem;
    
            img{
              height: 5rem;
              width: 5rem;
            }

            .img-modificar{
                height: 5rem;
                width: 5rem;
            }

            span{
              font-size: 2rem;
            }

            p{
              font-size: 1.5rem;
            }
          }
        }
      }

      .ima-grande .textos{
        h3{
          font-size: 4.5rem;
        }

        p{
          font-size: 2rem;
        }
      }
    }

    .sobre-nosotros .sobre-nosotros-titulos{

      p{
        font-size: 2.2rem;
      }
    }

    .galeria .textos-galeria p{
      font-size: 2.2rem;
    }
  }